/* =========================
   HERO SECTION
========================= */

.hero {
  background: radial-gradient(circle at top right,
    #2563eb,
    #0f172a 60%);
  color: white;
  min-height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px;
}

.hero-content {
  max-width: 1100px;
  width: 100%;
  text-align: center;
}

.hero-badge {
  background: rgba(255, 255, 255, 0.15);
  padding: 10px 20px;
  border-radius: 30px;
  font-size: 14px;
}

.hero h1 {
  font-size: 64px;
  margin: 25px 0;
}

.hero p {
  font-size: 20px;
  opacity: 0.9;
  margin-bottom: 35px;
}



/* =========================
   EXPLORE BUTTON (CTA)
========================= */

.explore-btn {
  margin-top: 20px;
  padding: 16px 34px;
  font-family:inherit;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 0.5px;

  color: white;
  border: none;
  border-radius: 50px;

  cursor: pointer;

  /* premium gradient */
  background: linear-gradient(135deg, #ff7a18, #af002d 60%, #319197);

  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.25);

  transition: all 0.3s ease;

  position: relative;
  overflow: hidden;
}

/* hover effect */
.explore-btn:hover {
  transform: translateY(-3px) scale(1.03);
  box-shadow: 0 18px 40px rgba(0, 0, 0, 0.35);
}

/* shine animation */
.explore-btn::after {
  content: "";
  position: absolute;
  top: 0;
  left: -75%;
  width: 50%;
  height: 100%;
  background: rgba(255, 255, 255, 0.3);
  transform: skewX(-25deg);
}

.explore-btn:hover::after {
  animation: shine 0.8s ease;
}

@keyframes shine {
  100% {
    left: 130%;
  }
}


/* =========================
   STATS
========================= */

.stats {
  margin-top: 60px;
  display: flex;
  justify-content: center;
  gap: 80px;
}

.stats h2 {
  font-weight: 500;
  font-size: 42px;
}

.stats p {
  opacity: 0.8;
}

/* =========================
   COMMON SECTIONS
========================= */

.featured,
.categories,
.why-us,
.testimonials,
.newsletter {
  padding: 30px 10%;
}

.featured h2,
.categories h2,
.why-us h2,
.testimonials h2,
.newsletter h2 {
  text-align: center;
  margin-bottom: 50px;
  font-size: 42px;
}

/* =========================
   FEATURED
========================= */

.featured {
  background: #fff;
}

.property-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 30px;
}

.property-card {
  background: white;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0 10px 25px rgba(0,0,0,0.08);
  transition: 0.3s;
}

.property-card:hover {
  transform: translateY(-10px);
}

.property-card img {
  width: 100%;
  height: 240px;
}
/* =========================
   CATEGORIES (3 x 2 FIXED)
========================= */



.circle-categories {
  position: relative;
  width: 750px;
  height: 750px;
  margin: 0px auto;
}
.center-circle {
  position: absolute;
  top: 50%;
  left: 50%;

  width: 220px;
  height: 220px;

  transform: translate(-50%, -50%);
  border-radius: 50%;

  background: #0f172a;
  color: white;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  box-shadow: 0 15px 40px rgba(0,0,0,.25);
}

.center-circle h2 {
  margin: 0;
  font-size: 32px;
}

.center-circle p {
  margin-top: 10px;
  font-size: 14px;
}
.category-card {
  position: absolute;

  width: 170px;
  height: 170px;

  border-radius: 50%;

  display: flex;
  justify-content: center;
  align-items: flex-end;

  padding-bottom: 20px;

  color: white;
  font-weight: bold;

  cursor: pointer;

  overflow: hidden;

  background-size: cover;
  background-position: center;

  transition: 0.3s;
}

.category-card {
  transition: all 0.3s ease;
}

.category-card:hover {
  transform: scale(1.05);
  box-shadow: 0 15px 35px rgba(0,0,0,0.25);
}
.card1:hover {
  transform: translateX(-50%) scale(1.05);
  box-shadow: 0 15px 35px rgba(0,0,0,0.25);
}

.card5:hover {
  transform: translateX(-50%) scale(1.05);
  box-shadow: 0 15px 35px rgba(0,0,0,0.25);
}

.card2:hover,
.card3:hover,
.card4:hover,
.card6:hover,
.card7:hover {
  transform: scale(1.05);
  box-shadow: 0 15px 35px rgba(0,0,0,0.25);
}
.card1 {
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}

.card2 {
  top: 120px;
  right: 70px;
}

.card3 {
  top: 350px;
  right: 40px;
}

.card4 {
  bottom: 0px;
  left:180px;
}

.card5 {
  bottom: 0;
  left: 70%;
  transform: translateX(-50%);
}

.card6 {
 top:340px;
 left: 70px;
}

.card7 {
  top: 120px;
  left: 70px;
}
.card1 {
  background:
    linear-gradient(rgba(0,0,0,.3), rgba(0,0,0,.6)),
    url("https://images.unsplash.com/photo-1502672260266-1c1ef2d93688");
  background-size: cover;
}

.card2 {
  background:
    linear-gradient(rgba(0,0,0,.3), rgba(0,0,0,.6)),
    url("https://images.unsplash.com/photo-1512917774080-9991f1c4c750");
  background-size: cover;
}

.card3 {
  background:
    linear-gradient(rgba(0,0,0,.3), rgba(0,0,0,.6)),
    url("https://images.unsplash.com/photo-1568605114967-8130f3a36994");
  background-size: cover;
}

.card4 {
  background:
    linear-gradient(rgba(0,0,0,.3), rgba(0,0,0,.6)),
    url("https://images.unsplash.com/photo-1486406146926-c627a92ad1ab");
  background-size: cover;
}

.card5 {
  background:
    linear-gradient(rgba(0,0,0,.3), rgba(0,0,0,.6)),
    url("https://images.unsplash.com/photo-1600585154340-be6161a56a0c");
  background-size: cover;
}

.card6 {
  background:
    linear-gradient(rgba(0,0,0,.3), rgba(0,0,0,.6)),
    url("https://images.unsplash.com/photo-1500382017468-9049fed747ef");
  background-size: cover;
}

.card7 {
  background:
    linear-gradient(rgba(0,0,0,.3), rgba(0,0,0,.6)),
    url("https://images.unsplash.com/photo-1522708323590-d24dbb6b0267");
  background-size: cover;
}
/* =========================
   WHY US
========================= */

.why-us {
  background: #0f172a;
  color: white;
}

.why-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 25px;
}
.why-card {
  background: rgba(255,255,255,0.08);
  border-radius: 20px;
  padding: 30px;
  transition: 0.3s ease;
  cursor: pointer;
  border: 1px solid rgba(255,255,255,0.1);
}

.why-card:hover {
  transform: translateY(-10px);
  background: rgba(255,255,255,0.12);
  box-shadow: 0 15px 35px rgba(0,0,0,0.25);
}

/* =========================
   TESTIMONIALS
========================= */

.testimonials {
  background: #f9f9f9;
}

.testimonial-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 25px;
}

.testimonial-card {
  background: #f8fafc;
  padding: 30px;
  border-radius: 20px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.06);
  transition: 0.3s ease;
  cursor: pointer;
  border: 1px solid rgba(0,0,0,0.05);
}

.testimonial-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 18px 40px rgba(0,0,0,0.12);
}

.stars {
  color: #f59e0b;
  margin-bottom: 10px;
}

.testimonial-card span {
  font-size: 14px;
  color: #64748b;
}

/* =========================
   NEWSLETTER
========================= */

.newsletter {
  background: #f8fafc;
}

.newsletter-card {
  max-width: 900px;
  margin: auto;
  background: #0f172a;
  color: white;
  padding: 60px;
  border-radius: 24px;
  text-align: center;
}

.newsletter-form {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  gap: 10px;
  flex-wrap: wrap;
}

.newsletter-form input {
  width: 320px;
  padding: 14px;
  border: none;
  font-family:inherit;
  border-radius: 10px;
}

.newsletter-form button {
  background: #3b82f6;
  color: #fff;
  border: none;
  padding: 14px 25px;
  border-radius: 10px;
  font-weight: 600;
  font-family:inherit;
  cursor: pointer;
}
.newsletter-form button:hover {
  background: #0056b3;
}
.home-error-text {
  color: red;
  font-size: 12px;
  margin-top: 6px;
}
.input-group {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

/* =========================
   MOBILE
========================= */

@media (max-width: 768px) {
  .hero h1 {
    font-size: 42px;
  }

  .stats {
    flex-direction: column;
    gap: 25px;
  }

  .category-grid {
    grid-template-columns: 1fr; /* mobile fix */
  }

  .newsletter-card {
    padding: 35px;
  }

  .newsletter-form input {
    width: 100%;
  }
}