.error-message {
  background: #ffe5e5;
  color: #d60000;
  border: 1px solid #ffb3b3;
  padding: 12px;
  border-radius: 8px;
  margin-bottom: 15px;
  text-align: center;
}

.success-message {
  background: #e7ffe7;
  color: green;
  border: 1px solid #9be69b;
  padding: 12px;
  border-radius: 8px;
  margin-bottom: 15px;
  text-align: center;
}