@import "../Home/Home.css";
.profile-warning {
  position: fixed;
  top: 90px;
  left:490px;

  background:#dc2626;
  color: #fff;
  padding: 5px 10px;
  border-radius: 25px;
  font-size: 13px;
  font-weight: 500;

  
}
