.faq-page {
  min-height: 100vh;
  background: #f9f9f9;
  color: black;
  padding: 60px 8%;
}

.faq-title {
  text-align: center;
  margin-bottom: 60px;
  font-family:inherit;
}

.faq-title span {
  color: #3b82f6;
  letter-spacing: 3px;
  font-size: 12px;
}

.faq-title h1 {
  margin-top: 15px;
  font-size: 34px;
}

.faq-stream {
  max-width: 1000px;
  margin: auto;
  position: relative;
}

.faq-stream::before {
  content: "";
  position: absolute;
  left: 25px;
  top: 0;
  width: 3px;
  height: 100%;
 
}

.faq-item {
 
  margin-bottom: 16px;
  margin-left: 60px;
  border-left: 3px solid transparent;
  transition: 0.3s;
}

.faq-item.active {
  border-left: 3px solid #60a5fa;
}

.faq-question {
  font-family:inherit;
  width: 100%;
  background: transparent;
  border: none;
  color: black;
  font-size: 18px;
  font-weight: 600;
  text-align: left;
  cursor: pointer;

  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 18px 20px;
}

.faq-question:hover {
  color: #60a5fa;
}

.faq-answer {
  margin-left: 20px;
  margin-bottom: 20px;

  color: black;
  line-height: 1.8;

  
  padding-left: 20px;

  animation: fadeIn .25s ease;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-6px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@media(max-width:768px) {
  .faq-title h1 {
    font-size: 34px;
  }

  .faq-item {
    margin-left: 35px;
  }

  .faq-stream::before {
    left: 10px;
  }

  .faq-question {
    font-size: 16px;
  }
}